body{
    background-color: dodgerblue;
}

#site{
    background-color: white;
    margin: 20px 50px;
    padding: 15px;
    border-radius: 10px;
}

#cabecalho{
    border-radius: 10px;
    display: flex;
    background-color: deepskyblue;
}
#logo-magalu{
    padding-top: 20px;
    height: 50px;
}
#novo-site{
    width: 130px;
    position: absolute;
    left: 90%;
}
ul{
    align-items: end;
    font-size: 25px;
    color:white;
    gap: 50px;
    list-style-type: none;
    display: flex;
}

#chat{
    margin:0%;
    left: 1.5px;
    bottom: 0%;
    position: fixed;
    background-color: rgb(255, 111, 250);
    border-radius: 10px;
    width: 220px;
    height: 300px;
    padding-left: 10px;
}