body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
#logo{
    float: left;
    width: 200px;
    padding-top: 10px;
}
#paginas li{
    float: right;
    padding: 10px 20px;
    list-style-type: none;
}
#paginas a{
    text-decoration: none;
    color: black;
}
#comecar>a{   
    padding: 7px 10px;
    color: white; 
    background-color: black;
    border-radius: 2em;
}
#navegacao{
    padding: 8px 50px;
}
#navegacao::after{
    content: "";
    clear: both;
    display: block;
}
#conteudo-principal{
    padding: 10px 30px 50px 30px;
    h1{
        width: 50%;
        font-size: 80px;
        margin: 0px
    }
    p{
        width: 60%;
        font-size: 25px;
        margin-top:10px;
        padding-bottom: 30px;
    }
    button{
        padding: 15px 20px;
        color:black;
        background-color: white;
        border: 1px solid black;
        border-radius: 2em;
        font-size: 20px;
    }
}
#conteudo-principal img{
    padding: 0px 30px;
    width: 400px;
    float: right;
}
hr{
    margin: 0px;
    padding: 0px;
}
#tendencias{
    margin: 0px;
    padding: 50px ;
    background-color: white;
    span{
        margin: 0px;
        padding: 0px;
        font-size: 20px;
    }
    img{
        width: 25px;
    }
}
.numero{
    padding-top: 30px;
    float: left;
    padding: 20px;
    font-size: 50px;
    color: grey;
}
.noticia{
    padding-top: 20px;
    float:left;
    width: 480px;
    
}
.nome+p{
    padding: 4px 10px;
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
}
.nome+p+p{
    margin: 0px;
    padding: 0px 10px;
}
#noticias::after{
    content: "";
    clear: both;
    display: block;
}