header{
  display: flex;
  align-items: center;
  padding: 0 10px;
}

nav{
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
nav ul{
  display: flex;
  padding: 10px;
  list-style-type: none;
  justify-content: center;
}
ul a, a:visited{
  padding: 10px;
  text-decoration: none;
  color: #484848;
}

ul a:hover{
  color: #0B5CFF;
}

.botao{
  text-decoration: none;
  color: #0B5CFF;
  border: 2px solid #0B5CFF;
  border-radius: 25px;
  padding: 5px 30px;
  margin: 0 4px;

}
.bota:hover{
  background: #d2e1ff;
}
.botao.destaque{
  color: white;
  background: #0B5CFF;

}
.botao.destaque:hover{
  background: #2d73ff;

}
