/*
#destaque{
    background-color: red;
}

li.primeiro{
    background-color: orange;
}

.destaque{
    color:white;
    background-color: black;
}

#itens{
    background-color: orange;
}
    */

.vermelho{
    background-color: red;
}
.laranja{
    background-color: orange;
}
.texto{
    color: white;
}
body{
    font-size: 35px;
}