/*
Estrutura
*/



/*
Tipografia
*/
body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#cabecalho{
    background-color: #c5e3fe;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container{
    width: 1145px;
    margin: 0 auto;
    padding: 1.4rem;
}
ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 475px;
    float: right;
}
ul#menu li a{
    float: left;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
ul#menu li a :hover{
    color: #4c799f;
}
ul#menu li.destaque a{
    color:white;
    border-radius: 1.2rem;
    background-color: black;
}
ul#menu li.destaque a :hover{
    color: #c5e3fe;
}

#destaque{
    background-color: #c5e3fe;
    border-bottom: 1px solid black;
    margin-top: 4.7rem;
}

#area-destaque{
    width: 55%;
}

h1{
    font-size: 4rem;
    margin: 0;
    font-weight: 100;
    letter-spacing: -0.1rem;
}
#destaque button{
    display: block;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: white;
}

.fundo-destaque{
    background: url(../img/fundo-topo.png) no-repeat right bottom;
    background-size: 22rem;
}