li{
    padding: 5px;
    width: 150px;
    list-style: none;
    background-color: orange;
}
ul{
    margin: 0px;
    padding: 0px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
     
    color: white;
}
li:hover{
    background-color: orangered;
}