html{
  background-color: antiquewhite;
}
body{
  border: 1px solid black;
  background-color: white;
  padding: 30px;
}
h1{
  color: purple;
}
h1+p{
  color: gray;
}
img{
  border: 1px solid black ;
}
p+p{
  color: grey;
}
